<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">
    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('分类名称')}</b>Name</span>
            <input name="name" value='{$vo.name|default=""}' vali-name="{:lang('分类名称')}" required placeholder="{:lang('请输入分类名称')}" class="layui-input">
        </label>
    </div>

    <div class="hr-line-dashed"></div>

    {notempty name='vo.id'}<input type="hidden" value="{$vo.id}" name="id">{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type="submit">{:lang('保存数据')}</button>
        <button class="layui-btn layui-btn-danger" type="button" data-close>{:lang('取消操作')}</button>
    </div>
</form>
