<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">
    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('所属分类')}</b>Category</span>
            <select name="cate_id" lay-append-to>
                <option value="">-- {:lang('请选择分类')} --</option>
                {foreach $cates as $cate_id => $cate_name}
                <option value="{$cate_id}" {if isset($vo.cate_id) and $vo.cate_id eq $cate_id}selected{/if}>{$cate_name}</option>
                {/foreach}
            </select>
        </label>

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('跳转类型')}</b>Type</span>
            <select name="jump_type" lay-append-to>
                {foreach $jump_types as $k => $v}
                <option value="{$k}" {if isset($vo.jump_type) and $vo.jump_type eq $k}selected{/if}>{$v.label}</option>
                {/foreach}
            </select>
        </label>

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('工具Logo')}</b>Logo</span>
            <div class="relative block">
                <label>
                    <input class="layui-input layui-bg-gray" readonly placeholder="{:lang('请上传工具Logo图片')}" data-tips-hover data-tips-image name="logo" value='{$vo.logo|default=""}'>
                </label>
                <a class="layui-icon layui-icon-upload input-right-icon" data-file="image" data-field="logo" data-type="gif,png,jpg"></a>
            </div>
        </label>

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('工具名称')}</b>Name</span>
            <input name="name" value='{$vo.name|default=""}' vali-name="{:lang('工具名称')}" required placeholder="{:lang('请输入工具名称')}" class="layui-input">
        </label>

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('工具描述')}</b>Desc</span>
            <input name="desc" value='{$vo.desc|default=""}' placeholder="{:lang('请输入工具描述（可选）')}" class="layui-input">
        </label>

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('跳转值')}</b>Value</span>
            <input name="jump_value" value='{$vo.jump_value|default=""}' vali-name="{:lang('跳转值')}" required placeholder="{:lang('小程序页面路径、H5地址或其他小程序appid')}" class="layui-input">
        </label>

    </div>

    <div class="hr-line-dashed"></div>

    {notempty name='vo.id'}<input type="hidden" value="{$vo.id}" name="id">{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type="submit">{:lang('保存数据')}</button>
        <button class="layui-btn layui-btn-danger" type="button" data-close>{:lang('取消操作')}</button>
    </div>
</form>
