<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">
    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('类型名称')}</b>Name</span>
            <input name="name" value='{$vo.name|default=""}' required vali-name="{:lang('类型名称')}" placeholder="{:lang('请输入类型名称')}" class="layui-input" maxlength="50">
        </label>

        <label class="layui-form-item relative block label-required-prev">
            <span class="help-label"><b>{:lang('类型编码')}</b>Code</span>
            <input name="code" value='{$vo.code|default=""}' required vali-name="{:lang('类型编码')}" placeholder="{:lang('如 feedback')}" pattern="^[a-z][a-z0-9_]*$" pattern-error="{:lang('编码格式：英文小写字母开头')}" maxlength="20" class="layui-input">
        </label>

        <label class="layui-form-item relative block">
            <span class="help-label"><b>{:lang('颜色样式')}</b>Class</span>
            <select name="class" lay-append-to>
                {foreach ['layui-bg-blue'=>'蓝色','layui-bg-green'=>'绿色','layui-bg-orange'=>'橙色','layui-bg-red'=>'红色','layui-bg-cyan'=>'青色','layui-bg-purple'=>'紫色','layui-bg-gray'=>'灰色'] as $k => $v}
                <option value="{$k}" {if isset($vo.class) && $vo.class == $k}selected{/if}>{:lang($v)}</option>
                {/foreach}
            </select>
        </label>
    </div>
    
    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>{:lang('保存数据')}</button>
        <button class="layui-btn layui-btn-danger" type='button' data-target-backup data-confirm="{:lang('确定要取消编辑吗？')}">{:lang('取消编辑')}</button>
    </div>
</form>
