<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
    <fieldset>
        <legend>{:lang('条件搜索')}</legend>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('用户ID')}</label>
            <div class="layui-input-inline">
                <input name="user_id" value="{$get.user_id|default=''}" placeholder="{:lang('请输入用户ID')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('反馈类型')}</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="type" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    {foreach $types as $k => $v}
                    <option value="{$k}" {if isset($get.type) && $get.type == $k}selected{/if}>{$v.label}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('状态')}</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    {foreach $statuses as $k => $v}
                    <option value="{$k}" {if isset($get.status) && $get.status == $k}selected{/if}>{$v.label}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('提交时间')}</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$get.create_at|default=''}" placeholder="{:lang('请选择提交时间')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search"></i>{:lang('搜 索')}</button>
        </div>

    </fieldset>
</form>
